$bc = #ddd
$hc = #333

#chats
  absolute bottom left
  width 100%
  height 480px

.chatty-region
  relative top left
  float left
  width 100%
  height 100%

.chatty-box
  relative top left
  width 320px
  height 480px
  margin 0 20px
  bosh 2px 2px 20px rgba(0, 0, 0, 0.4)
  boxsize()

.chatty-box header
  relative top left
  float left
  z-index 10
  width 100%
  min-height 40px
  background $hc
  color $bc
  boxsize()
  padding 5px

.chatty-box header .status
  float left
  width 10px
  height 10px
  brad 10px
  margin 10px 5px 10px 5px
  &.green
    background #00aa22
    
.chatty-box header h2
  float left
  padding 0
  margin 0
  line-height 30px

.chatty-box .cmds
  z-index 10
  relative top left
  float left
  width 100%
  height 30px
  boxsize()
  background $bc

.chatty-box .chat-space
  z-index 0
  relative top left
  float left
  width 100%
  height 410px
  background rgba(#EFEFEF, 0.7)

.chatty-box .msg-space
  relative top left
  width 100%
  height 355px
  boxsize()
  overflow none

.chatty-box .msgs
  absolute bottom 20px left
  float left
  width 100%
  overflow auto
  max-height 340px
  boxsize()

.chatty-box .msgs li
  float left
  width 100%
  margin 0
  boxsize()
  padding 10px
  .tag
    float left
    font-weight bold
    margin-right 10px
  .meta
    font courier
    color #666

.chatty-box .inp-fld
  absolute bottom left
  float left
  width 100%
  height 75px
  textarea
    resize none
    width 310px
    height 65px
    margin 5px
    padding 5px
    border 1px solid #aaa
    boxsize()

