@import 'nib'
@import 'bluntmix'
@import 'fonts'
global-reset()

lucy      = 14px\/18px 'Lucida Grande', sans-serif
courier   = 14px\/18px 'Courier new', monospace
helvetica = 14px\/18px Helvetica, sans-serif

bg_color  = #F5D41F
fg_color  = #1f1f1f
